.DS_store
logs/
tmp_urdfs/
__pycache__/
*.pyc
*.mov
venv/
*.pkl
*.backup
*.png
*.svg
*.swo
*.swp
.venv/
.vscode/
*.mp4
*.npy
pddlstream
pb_robot
temp/
tmp/
domains/ordered_blocks/discrete/tmp
domains/ordered_blocks/panda/tmp
tamp/urdf_models/red_block.urdf
tamp/urdf_models/blue_block.urdf
tamp/urdf_models/yellow_block.urdf
tamp/urdf_models/goal_patch.urdf
docker/restart_experiments/sequential_goals/experiments
gifs/
env_vars/
docker/make_datasets_from_models/models
docker/
