matplotlib==3.2.0
numpy==1.19.5
scipy==1.4.1
catkin_pkg==0.4.24
git+https://github.com/hauptmech/odio_urdf.git
pybullet==3.1.7
recordclass==0.16.0
IPython==7.16.2
networkx==2.5.1
numpy-quaternion
git+https://github.com/mike-n-7/tsr.git
dill==0.3.4
sklearn
