<?xml version="1.0"?>
<robot  name="blue_block" >
 <link  name="blue_block" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <mass  value="0.1" />
   <inertia  ixz="0"  ixy="0"  izz="0.001"  iyy="0.001"  ixx="0.001"  iyz="0" />
  </inertial>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.05 0.05 0.05" />
   </geometry>
  </collision>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.05 0.05 0.05" />
   </geometry>
   <material  name="color" >
    <color  rgba="0.0 0.0 1.0 1.0" />
   </material>
  </visual>
 </link>
</robot>
