<?xml version="1.0"?>
<robot  name="violet_patch" >
 <link  name="violet_patch" >
  <inertial >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <mass  value="0.0" />
   <inertia  iyy="0.0"  ixx="0.0"  ixy="0.0"  izz="0.0"  ixz="0.0"  iyz="0.0" />
  </inertial>
  <collision >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <box  size="0.0 0.0 0.0" />
   </geometry>
  </collision>
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <box  size="0.1 0.1 0.001" />
   </geometry>
   <material  name="color" >
    <color  rgba="1 0 211 0.6" />
   </material>
  </visual>
 </link>
</robot>
